# Node dependencies
node_modules
node_modules/.prisma
node_modules/@prisma 

# Environment variables
.env.dvelopment
.env.production
# Prisma generated client/engines
/src/generated/prisma

# OS / Editor / Logs
.DS_Store
*.log
